html, body {
	width:		100%;
	height:		100%;
	margin: 	auto;
}

img {
	width:		600px;
	height:		600px;
	position:	absolute;
}

#head_color {
	z-index: 0;
}

#head_type {
	z-index: 1;
}

#eyes_color {
	z-index: 2;
	width:		600px;
}

#eyes_type {
	z-index: 3;
}

#mouth_color {
	z-index: 4;
}

#mouth_type {
	z-index: 5;
}